@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Black text for light mode */
  --background-start-rgb: 255, 255, 255; /* White color for light mode */
  --background-end-rgb: 255, 255, 255; /* White color for light mode */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White text for dark mode */
    --background-start-rgb: 255, 255, 255; /* White color for dark mode */
    --background-end-rgb: 255, 255, 255; /* White color for dark mode */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb)); /* Set background to solid white */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
